<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CALL-IN</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" href="/assets/title_svg.svg" type="image/icon type">
</head>
<body>
    <header>
        <img src="/assets/Yavar-Logo-AI-1.svg" alt="Yavar Logo" id="logo">
        <!-- <p>CALL - IN</p> -->
    </header>
    <main id="product-container">
        <div id="static-con">
            <p>CALL-IN</p>
            <p>CALL-IN is an advanced IP telephony solution that integrates Artificial Intelligence (AI) and Natural Language Processing (NLP) for seamless communication. It offers voice command functionality, allowing users to make secure calls or perform tasks by speaking. Automated call routing directs calls based on spoken instructions, while AI chatbots answer common questions and guide customers through processes. In case of emergencies, the system escalates calls and provides real-time information.

                Key features include:
                
                Human-like Interaction: Conversational responses replace impersonal menus.
                Effortless Call Management: Efficiently routes calls to the right extensions.
                Streamlined Collaboration: Easily facilitates conference calls.
                Knowledge at Your Fingertips: Answers questions from your internal knowledge base.
                Enhanced User Experience: Integrates with third-party services for tasks like booking appointments and checking order status.
                Increased Efficiency: Handles routine tasks, freeing up staff time.
                Improved Customer Satisfaction: Provides a personalized calling experience.</p>
        </div>
    </main>
    <footer>
        <img src="/assets/Yavar-white.svg" alt="Yavar Logo" id="footer-logo">
        <div id="footer-content-con">
            <p id="footer-con">
                Empowering businesses of all sizes with cutting-edge technology for efficient operations and sustainable growth.
            </p>
            <div id="links">
              
                <a href="https://yavar.ai/" target="_blank">Yavar AI</a>
                <a href="https://yavar.ai/blogs/" target="_blank">Blog</a>
                <a href="https://yavar.ai/contact/" target="_blank">Contact Us</a>
                <a href="https://yavar.ai/privacy-and-policy/" target="_blank">Privacy Policy</a>
                <a href="https://yavar.ai/terms-of-services/" target="_blank">Terms of Services</a>
            </div>
            <div id="social-media">
                <a href="https://www.linkedin.com/company/yavar-tech-works/about/" target="_blank"><i class="fa-brands fa-linkedin"></i><p>Linkedin</p></a>
                <a href="https://www.youtube.com/channel/UCdjDbzu3Ru8FJecvbT_v32Q" target="_blank"><i class="fa-brands fa-youtube"></i><p>Youtube</p></a>
            </div>
            <p id="copyright">
                © Copyright 2024 Yavar Tech Works. All rights reserved. All logos and trademarks used belong to their respective owners.
            </p>
        </div>
    </footer>

</body>
</html>